* {
    margin: 0;
    padding: 0;
}

.quadrado_static {
    background-color: green;
    height: 200px;
    width: 200px;
    color: white;
}

.relativo {
    position: relative;
    top: 300px;
    left: 30px;
}

.absoluto {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: orange;
    height: 150px;
    width: 150px;
    color: rgb(5, 113, 10)
}

.fixed {
    position: fixed;
    top: 200px;
    right: 30px;
    background-color: red;
    height: 100px;
    width: 100px;
}

.sticky {
    position: sticky;
    background-color: rgb(37, 79, 147);
    height: 100px;
    width: 100px;
    top: 50px;
    left: 300px;
    color: white;
}

body {
    height: 2000px;
}