*{
    margin: 0;
    padding: 0;
}

body{
    color: #333333;
    font-family: "Lucida SansUnicode", "Lucida Grande", sans-serif;
}

#sacola{
    background-image: url(../MirrorFashion/img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
}

#menu-opcoes ul li{
    font-size: 15px;
    display: inline;
    text-align: right;
}

#menu-opcoes{
    color:  #003366;
}