* {
    margin: 0;
    padding: 0;
}

body {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background-image: url('img/sobre-background.jpg');
    padding: 10px;
}

h3 {
    font-size: 40px;
    color: blue;
    padding: 10px;
    text-align: center;
    background-color: rgb(199, 209, 228);
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    text-align: justify;
    text-indent: 30px;
    margin: 0px 30px
}

li {
    margin: auto 16px;
}

#centro {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1rem solid rgb(192, 190, 190);
    border-bottom: 3rem solid rgb(192, 190, 190);
}

#polaroid {
    width: auto;
    margin: 1rem auto;
    text-align: center;
}

#centro2 {
    border: 1rem solid rgb(192, 190, 190);
    border-bottom: 3rem solid rgb(192, 190, 190);
}

#polaroid2 {
    float: right;
    width: 32%;
    margin: 0px 2rem;
    text-align: center;
    margin-bottom: 1.1rem;
    margin-top: 1.3rem;
}

#bottom {
    margin-bottom: 10px;
    margin-top: -2.8rem;
    float: center;
}

#bottom2 {
    margin-top: -2.4rem;
    margin-left: 0px;
    float: center;
}

#marginbottom {
    border-bottom: 3px outset black;
}

#img2 {
    margin: 20px 0px;
}

#rodapeimg {
    filter: brightness(.1);
    margin: 20px 0px;
    float: left;
}

#rodape {
    color: #777;
    margin: 10px 0;
    float: left;
}

ul {
    padding-left: 34px;
}